			#secundario {
				float: left;
				width: 200px;
				padding: 5px;
				background-color: #ffff55;
				border: 3px solid #55555;
			
			}
			

			
			#secundario h3 {
				color: #B4045F;
			
			}
			
			#secundario ul li a {
				padding: .2em; 0 .2em 1.5em;
				display: block;
				text-decoration: none;
				color: #333;
				background: #F4F4F4;
			
			}
			
			#secundario ul li a:hover, ul li a:active {
				background: #58FA58;
			
			}

            #secundario ul {
                list-style: none;
                margin-left: 1em;
                width: 130px;


            }
			
			#principal {
				margin-left: 210px;
				padding: 5px;
				background-color: #ffffbb;
				border: 1px solid #555555;
			
			}
			
			#principal img {
				padding: 10px;
				float: right;
				width: 50%;
			
			}
			
			#principal h3 {
				background: white;
				color: #B4045F;
			
			}
			
			#cabecera {
				height: 60px;
				padding-top: 15px;
				color: black;
				background-image: url(logocabecera.jpg);
			
			}
			
			* {
				margin: 0;
				padding: 0;
			
			}
			
			body {
				font-family: verdana;
				font-size: 10px;
				color: #666666;
				background-color: #333333;
			
			}
			
			#contenido {
				margin: 0 auto;
				padding: 0px;
				width: 750px;
			
			}
			
			html, body {
				font-family: verdana;
				font-size: 12px;
				color: #666666;
				background-color: #333333;
				height: 100%;
			
			}